*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
}


.back-gray{
    background-color: gray;
}

.border{
    border: 2px dashed;
}

/*--Intestazione--*/
  header{
    margin-bottom: 30px;
    background-color: lightblue;
  }

    /*-Small header-*/

    header > nav{
    display: flex;
    }                

    header > nav > div {
        flex-basis: 20%;
        background-color: white;
        padding: 10px 0;
    }


    .nav-bar{
        padding: 10px;
        flex-basis: 60%;
        text-align: center;
    }

    .nav-buttom{
        text-align: right;
    }
 

   /*-Large header-*/
.header-bottom{
    background-color: rgb(38, 105, 212);
    height: 500px;
    padding: 50px;   
}

.header-bottom div{
    height: 90%;
    background-color: rgb(222, 243, 119);  
}


/*----Corpo del sito----*/

.section{
    display: flex;
    padding: 30px;
    height: 400px; 
}

/*--- Section - 1 a Section-3 --- */

.left{
    background-color: pink;
    flex-basis: 60%;
    height: 100%;   
}

.right{
    background-color: rgb(104, 216, 102);
    flex-basis: 40%;
    height: 100%;
}


/*--- Section - 4--*/

.back-pink{
     background-color: pink;
}

.section-4{
    height: 700px;
    padding: 50px;
}

.section-4 div{
    height: 100%;
    width: 100%; 
    background-color: blueviolet;
}

/* Footer*/

footer{
    height: 600px;
    background-color: black;
    padding: 50px;  
}

/* Top */
.top-f{
    display: flex;
    height: 80%;
    margin-bottom: 2px solid white;
}

.left-f {
    background-color: blue;
    border: 2px dashed white;
    flex-basis: 25%;
}

.right-f {
    display: flex;
    flex-basis: 75%;
    background-color: blanchedalmond;
    border: 2px dashed gray ;   
}

.right-f div{
    flex-basis: 100%;
    border: 2px dashed gray;
    padding-bottom: 10px;

}

/* Bottom */
.bottom-footer{
    display: flex;
    height: 20%;
    background-color: aquamarine;
    
}
