*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
}


.back-gray{
    background-color: rgba(211, 211, 211, 0.696);
}

.border{
    border: 2px dashed;
}


.button{
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
}

.box-reverse{
    flex-direction: row-reverse ;
}

/*--Intestazione--*/
  header{
    margin-bottom: 30px;
    background-image: url(img/jumbo.png);
    background-size: cover;
    color: white;
    text-align: center;
    align-items: center;
    justify-items: center;
}

    /*-Small header-*/

    header > nav{
    display: flex;
    }                

    header > nav > div {
        flex-basis: 20%;
        padding: 10px 0;
    }


    .nav-bar{
        display: flex;
        padding: 10px;
        flex-basis: 60%;
        text-align: center;
        justify-content: space-between;
        align-items: center;
        font-weight: 600;
        
    }
    
    .nav-buttom{
        text-align: right;
    }

    .nav-buttom > button{
        font-size: 14px;
        background-color: white;
        border-radius: 30px;
        padding: 10px;
        border: none;
    }


   /*-Large header-*/
   .header-bottom{
    justify-items: center;
    height: 500px;
    
   }


  .title-header{
    font-size: 60px;
  }

  .text-header{
    font-size: 20px;
    padding: 0 250px;
    padding-bottom:20px; 
  }

  .white{
    background-color: white;
  }

  .black{
    background-color: black;
    color: white;
 }


/*----Corpo del sito----*/

.section{
    display: flex;
    padding: 30px;
    height: 400px; 

}

/*--- Section - 1,2,3 --- */

.left{
    flex-basis: 60%;
    height: 100%;    
}

.left > img{
   width: 80%;
}

.right{
    flex-basis: 40%;
    height: 100%;
    padding-right: 60px;
    padding-left: 5px;
    color: #292841;
}

.title{
   font-size: 45px;
   padding-bottom: 10px;
}

.text {
    font-size: 18px;
}

.reverse{
    padding-left: 60px;
    padding-right: 5px;
}

   

/*--- Section - 4--*/

.back-pink{
     background-color: pink;
}

.section-4{
    height: 700px;
    padding: 50px;
}

.section-4 div{
    height: 100%;
    width: 100%; 
    background-color: blueviolet;
}

/* Footer*/

footer{
    height: 600px;
    background-color: black;
    padding: 50px;  
}

/* Top */
.top-footer{
    display: flex;
    height: 90%;
    border-bottom: 3px solid rgb(112, 26, 26);
    
}

.left-f {
    background-color: blue;
    border: 2px dashed white;
    flex-basis: 25%;
}

.right-f {
    display: flex;
    flex-basis: 75%;
    background-color: blanchedalmond;
    border: 2px dashed gray ;   
}

.right-f div{
    flex-basis: 100%;
    border: 2px dashed gray;
    padding-bottom: 10px;

}

/* Bottom */
.bottom-footer{
    display: flex;
    height: 10%;
    justify-content: space-between; 
    background-color: aquamarine;
}

.bottom-footer > *{
    background-color: rgb(193, 255, 127);
    align-self: center;
        
}

.bottom-footer :last-child{
    text-align: right;
}